<%- include('header') %>
<h1>About Gym&Gain</h1>
<p>We are dedicated to helping you achieve your fitness goals.</p>
<p>Our facility offers state-of-the-art equipment and expert trainers.</p>
<%- include('footer') %>