<%- include('header') %>
    <h1>Login</h1>
    <% if (typeof error !== 'undefined' && error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/users/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/users/register">Register</a></p>
<%- include('footer') %>
